#input-tuner {
    margin-bottom: 10px;
}

#tuning::-webkit-scrollbar {
    width: 5px;
    display: block;
    background-color: rgb(223, 223, 223);
}

#tuning::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100); 
}

#tuning {
    user-select: text;
    overflow: auto;
    box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.2);
}